# cache
__pycache__
*/__pycache__
*/__pycache__/*
runs
save_temp

# data related
datasets
*.tar
*.tar.gz
*/img/*
*.zip
*.pt
*/deepCR.ACS-WFC
*/*/*/*.pkl
**/*.pkl
*/*.npy
*/*.pkl
*/*.mat
autodeeplab/run/*
autodeeplab/data
AMBER/aclImdb
AMBER/dbpedia_csv
*.pbz2

# logs
.ipynb_checkpoints/
perceiver-io/.cache/*
perceiver-io/.github/*
perceiver-io/logs/*
.vscode/launch.json
*.log

#misc
*.png
*.ipynb

# old files
old

#output
precompute/*/output
