data
__pycache__
*/__pycache__
*/__pycache__/*
runs
save_temp
*/img/*
*/data
*/*.zip
*/deepCR.ACS-WFC
*/*/*/*.pkl
**/*.pkl
*/*.npy
*/*.pkl
*/*.mat
autodeeplab/run/*
*.ipynb
*.png
.ipynb_checkpoints/
perceiver-io/.cache/*
perceiver-io/.github/*
perceiver-io/logs/*
